datasets
*.jpeg
*.JPEG
*.jpg
*.pyc
__pycache__
*.pth
*.pkl
*.zip
*.txt
*.pt 
*.pth
*.png
*.sh
*.json
.DS_Store
*.ipynb
tiny-imagenet-200
pretrained
poisons
outputs
models
move.py
test_meta
*.pdf
*.tar.gz
